.container {
  display: flex;
}

.formcontainer {
  flex: 1;
}

.loginField {
  padding: 20px 0px;
  position: relative;
}

.replyInput {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  margin-right: 10px;
  font-weight: 800;
  font-size: small;
  width: 75%;
  height: 30px;
  transition: 0.2s;
  border-radius: 10px;
}
.replyInput:active,
.replyInput:focus,
.replyInput:hover {
  outline: none;
  border-bottom-color: #6a679e;
}
.sendSubmit {
  background: whitesmoke;
  font-size: 14px;
  margin-top: 5px;
  padding: 10px;
  border-radius: 20px;
  border: 3px;
  border-color: #6a679e;
  text-transform: uppercase;
  font-weight: 700;
  display: flexbox;
  align-items: center;
  width: 75%;
  color: #57548b;
  cursor: pointer;
  transition: 0.2s;
}
.sendSubmit:active,
.sendSubmit:focus,
.sendSubmit:hover {
  border: 5px;
  background: #bdbaf7;
}

.replySubmit {
  background: whitesmoke;
  font-size: 14px;
  margin-top: 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  border: 3px;
  border-color: #6a679e;
  text-transform: uppercase;
  font-weight: 700;
  display: flexbox;
  align-items: center;
  width: 15%;
  color: #57548b;
  cursor: pointer;
  transition: 0.2s;
}

.replySubmit:active,
.replySubmit:focus,
.replySubmit:hover {
  border: 5px;
  background: #bdbaf7;
}
