.ul {
  list-style-type: none;
  height: 80px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #57548b;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.ul {
  list-style-type: none;
  background-color: #57548b;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.li {
  height: 100%;
  display: inline;
  align-items: center;
}

.separator {
  height: 80%;
  width: 1px;
  background-color: white;
}

.a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 300ms;
}

.container {
  position: sticky;
  top: 0px;
  height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #57548b;
}

.divCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0 1 60%;
  min-width: 0px;
}

.divLeft {
  display: flex;
  flex-direction: row;
  flex: 0 1 728px;
  min-width: 0px;
}

.serverStatus {
  color: white;
}

.aNickname {
  color: white;
  margin: 0 0 0 10px;
}

.aUser {
  color: white;
  margin: 0 0 0 10px;
}

.aUser:hover {
  border: 1px;
  border-color: #dcdcdc;
  color: black;
}

.myButton1 {
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  background-color: #ffffff;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.myButton:hover {
  border: 1px;
  border-color: #dcdcdc;
  color: black;
}
.myButton:active {
  position: relative;
  top: 1px;
}

.myButton {
  font-size: 14px;
  padding: 16px 20px;
  border-radius: 10px;
  border: 1px;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  display: flexbox;
  align-items: center;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  background-color: #57548b;
}
