.container {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.card {
  background: whitesmoke;
  border: 3px solid;
  border-color: #cdcbf3;
  border-radius: 20px;
  max-width: 75%;
  width: 75%;
  padding: 16px 20px;
  font-size: 14px;
  overflow-wrap: break-word;
  margin-top: 1%;
  flex: 1;
}
.cardReply {
  background: #e7e6f1;
  border-radius: 10px;
  padding: 16px 20px;
  overflow-wrap: break-word;
  flex: 1;
}
