.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  border: 2px solid #d1d1d4;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
}

.cardPost {
  border: 5px;
  border-color: black;
}
