.card {
  background: whitesmoke;
  border: 1px solid;
  border-color: #6a679e;
  border-radius: 20px;
  margin-top: 30px;
  margin-left: 50px;
  padding: 16px 20px;
  font-size: 14px;
  position: fixed;
  width: 45%;
}

.formStyle {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.inputcontainer {
  width: 100%;
}

.titleInput {
  border: none;
  border-bottom: 2px solid #d1d1d4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 800;
  font-size: large;
  width: 100%;
  height: 50px;
  transition: 0.2s;
  border-radius: 10px;
}
.titleInput:active,
.titleInput:focus,
.titleInput:hover {
  outline: none;
  border-bottom-color: #000000;
}
.buttonSubmit {
  background: whitesmoke;
  font-size: 14px;
  margin-top: 5px;
  padding: 16px;
  border-radius: 20px;
  border: 3px;
  border-color: #6a679e;
  text-transform: uppercase;
  font-weight: 700;
  display: flexbox;
  width: 100%;
  color: #57548b;
  cursor: pointer;
  transition: 0.2s;
}
.buttonSubmit:active,
.buttonSubmit:focus,
.buttonSubmit:hover {
  border: 5px;
  background: #bdbaf7;
}
